<p-dialog header="{{dialogTitle}}" [(visible)]="display" [style]="{height: '500px',width: '1000px'}">
  <ng-container>
    <div class="container1">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" #map id="google-map">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="$any(user)"></agm-marker>
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
          (mouseOver)="onMouseOver(infowindow,map)" (mouseOut)="onMouseOut(infowindow,map)" id="marker{{marker.id}"
          [iconUrl]="$any(icon)">
          <agm-info-window [latitude]="marker.lat" [longitude]="marker.lng" #infowindow>
            <div>
              <div class="data1">
                <p><strong>{{ marker.label }}</strong></p>
                <p>{{ marker.city }},{{ marker.country }}</p>
                <p>462010</p>
              </div>
              <div class="data2">
                <p class="lastpara"><strong>Distance</strong> : 705km <img
                    src="{{locationIcon}}"
                    class="locationLogo" /></p>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </ng-container>
</p-dialog>

<ng-container>
  <div class="container2">
    <div class="card">
      <div class="center">
        <img src="https://imgk.timesnownews.com/story/1543400020-Google-Maps_0.jpg?tr=w-1200,h-900" alt="">
        <h4>See Nearest Charging Station</h4>
        <h6>Simply click on show map</h6>
        <button style="margin-top: 20px;" class="btn btn-primary" (click)="mapShow()">Show Map</button>
      </div>
    </div>
  </div>
</ng-container>